.navbar {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 0;
    background-color: #2c3e50;

    a {
        color: #ffffff;

        &:hover {
            color: #18BC9C;
        }
    }

    li {
        padding: 15px;

        a {
            padding: 0px;
            background-color: transparent;
        }
    }

    .navbar-brand {
        font-size: 3em;
    }

    .dropdown {
        .dropdown-menu {
            background-color: #2C3E50;
            border-color: rgba(24, 188, 156, 0.52);
        }
    }
}
