nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') ORX
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a([linkTo]='"/offers"') Ogłoszenia
        li
          a([linkTo]='"/offers/add"') Dodaj ogłoszenie
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Konto
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Moje oferty
            li
              a(href='#') Wyloguj