form.form-horizontal([formGroup]='signupForm', (ngSubmit)='onSubmit()')
  .form-group
    label.col-sm-2.control-label(for='email') Email:
    .col-sm-4
      input.form-control(type='email', id='email', [formControl]='signupForm.controls["email"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !email.valid')
        .error(*ngIf='!email.valid') Niepoprawny email
        .error(*ngIf='email.hasError("required")') Email jest wymagany
  .form-group
    label.col-sm-2.control-label(for='phone') Numer telefonu:
    .col-sm-4
      input.form-control(type='text', id='phone', [formControl]='signupForm.controls["phoneNumber"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !phoneNumber.valid')
        .error(*ngIf='!phoneNumber.valid') Niepoprawny numer telefonu
        .error(*ngIf='phoneNumber.hasError("required")') Numer telefonu jest wymagany
  .form-group
    label.col-sm-2.control-label(for='password') Hasło:
    .col-sm-4
      input.form-control(type='password', id='password', [formControl]='signupForm.controls["password"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !password.valid')
        .error(*ngIf='!password.valid') Niepoprawne hasło
        .error(*ngIf='password.hasError("required")') Hasło jest wymagane
  .form-group
    label.col-sm-2.control-label(for='passwordConfirmation') Powtórzenie hasła:
    .col-sm-4
      input.form-control(type='password', id='passwordConfirmation', [formControl]='signupForm.controls["passwordConfirmation"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !passwordConfirmation.valid')
        .error(*ngIf='!passwordConfirmation.valid') Niepoprawne potwierdzenie hasła
        .error(*ngIf='passwordConfirmation.hasError("required")') Potwierdzenie hasła jest wymagane
  .form-group
    .col-sm-offset-2.col-sm-4
      button.btn.btn-default(type='submit') Wyślij