.search-box {
    padding: 35px;
    background-color: #18BC9C;
    color: #ffffff;

    .jumbotron {
        background-color: #2c3e50;
    }

    .form-horizontal {
        .row {
            margin-left: 10px;
        }

        .small-input {
            width: 80px;
        }

        input {
            margin: 15px;
        }

        button {
            background-color: #18BC9C;
            border: none;
            color: #ffffff;
            padding: 10px 30px;
            outline: none;

            &:hover {
                background-color: #128f76;
                border-color: #11866f;
            }

        }
    }
}


