.search-box
    .container
        .jumbotron
            .form-horizontal
                .form-group
                    .col-md-9
                        input.form-control(type='text', placeholder='Szukaj ogłoszenia')
                    .col-md-3
                        input.form-control(type='text', placeholder='Miasto')
                .row
                    .col-md-4
                        .form-inline
                            .form-group
                                label(for='roomNumber') Liczba pokoi
                                input.small-input.form-control(type='text', name='roomNumberFrom', placeholder='1')
                                input.small-input.form-control(type='text', name='roomNumberTo', placeholder='3')
                    .col-md-4
                        .form-inline
                            .form-group
                                label(for='area') Powierzchnia
                                input.small-input.form-control(type='text', name='areaFrom', placeholder='od')
                                input.small-input.form-control(type='text', name='areaTo', placeholder='do')
                .row
                    .col-md-4
                        .form-inline
                            .form-group
                                label(for='roomNumber') Kondygnacja
                                input.small-input.form-control(type='text', name='FloorFrom', placeholder='1')
                                input.small-input.form-control(type='text', name='FloorTo', placeholder='5')
                    .col-md-4
                        .form-inline
                            .form-group
                                label(for='area') Balkon
                                input.form-control(type='checkbox', name='balcony', value='false')
                .row
                    .col-md-offset-10.col-md-2.text-right
                        button.btn.btn-default(type='submit') Szukaj