page-title([title]="'Ogłoszenie'")
.container
  .row.offer
    .col-md-6
      .thumbnail
        .fake-picture
    .col-md-6
      ul
        li
          .row
            .col-md-10
              h2 id:{{ offer.id }} {{ offer.city }}, {{ offer.street }} {{ offer.houseNumber }}
            .col-md-2.pull-right
              button.btn.btn-default(type='button')
                a([linkTo]='"offers/" + offer._id + "/edit"') Edit
        li liczba pokoi: 3
        li powierzchnia: 43m2
        li kondygnacja: 3 piętro
        li balkon: nie
  .description
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus porttitor dui sit amet viverra. Sed gravida posuere tellus eget sagittis. Integer in diam eget erat iaculis rutrum. Aenean sit amet malesuada nibh, sodales cursus dui. Aenean mattis purus at magna tincidunt lacinia. Integer quis nulla quis tellus convallis tempor. Proin enim mi, ultricies sed ullamcorper nec, suscipit a magna. Suspendisse non turpis ex. Fusce egestas nec arcu eu feugiat. Integer risus est, volutpat ac eros ac, facilisis tempus sapien.
    p Integer at enim aliquet, vestibulum risus in, pulvinar sapien. Etiam sed lacus eget augue venenatis vestibulum. Etiam bibendum rhoncus tristique. Duis ut libero in velit gravida ultricies vel et metus. Integer eu eleifend sem, sit amet vestibulum erat. Praesent scelerisque malesuada enim, eget tincidunt eros dignissim non. Integer ut nisl enim. Aliquam volutpat, ante consequat ornare tristique, nunc orci suscipit nisl, porttitor varius augue sem a ante. Nullam id erat urna. Fusce eu nulla et leo dignissim tincidunt. Phasellus convallis et nunc vel tempus. Nullam in turpis dui.
    p Vivamus dignissim ligula sit amet venenatis imperdiet. Curabitur auctor porta diam, non semper sapien mollis sit amet. Etiam facilisis sapien ut ultrices tempus. Mauris a auctor arcu. Quisque sed egestas risus. Fusce ultrices porta sollicitudin. Sed vestibulum neque ut lectus elementum, sed pulvinar orci dictum. Integer ut aliquet eros, eu egestas ipsum. Fusce feugiat ac nisi et rhoncus. Donec tempus eros mi, in bibendum leo aliquam vel.