body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

header {
    margin-bottom: 100px;
}

.thumbnail {
    border-color: #eee;

    .fake-picture {
        background-color: #D2D2D2;
        width: 100%;
        height: 165px;
    }
}