form.form-horizontal([formGroup]='offersForm', (ngSubmit)='onSubmit(offersForm.value)')
  .form-group
    label.col-sm-2.control-label(for='offerCity') Miasto:
    .col-sm-4
      input.form-control(type='text', id='offerCity', [formControl]='offersForm.controls["city"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !city.valid')
        .error(*ngIf='!city.valid') Niepoprawne miasto
        .error(*ngIf='city.hasError("required")') Miasto jest wymagane
  .form-group
    label.col-sm-2.control-label(for='offerStreet') Ulica:
    .col-sm-4
      input.form-control(type='text', id='offerStreet', [formControl]='offersForm.controls["street"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !street.valid')
        .error(*ngIf='!street.valid') Niepoprawna ulica
        .error(*ngIf='street.hasError("required")') Ulica jest wymagana
  .form-group
    label.col-sm-2.control-label(for='offerHouseNumber') Numer domu:
    .col-sm-4
      input.form-control(type='text', id='offerHouseNumber', [formControl]='offersForm.controls["houseNumber"]')
    .col-sm-4
      .error-box.alert.alert-danger(*ngIf='formSubmitted && !houseNumber.valid')
        .error(*ngIf='!houseNumber.valid') Niepoprawny number domu
        .error(*ngIf='houseNumber.hasError("required")') Number domu jest wymagany
  .form-group
    .col-sm-offset-2.col-sm-4
      button.btn.btn-default(type='submit') Wyślij
