h3 Ostatnio przeglądane
.row
    .col-sm-4.col-md-3
        .thumbnail
            .fake-picture
            .caption
                h4 Poznań, Krańcowa 34
    .col-sm-4.col-md-3
        .thumbnail
            .fake-picture
            .caption
                h4 Poznań, Dąbrowskiego 123
    .col-sm-4.col-md-3
        .thumbnail
            .fake-picture
            .caption
                h4 Poznań, Szpitalna 4
    .col-sm-4.col-md-3
        .thumbnail
            .fake-picture
            .caption
                h4 Poznań, Solna 68/4