page-title([title]="'Lista ogłoszeń'")
.container
  .offers-list(*ngFor='let offer of offers')
    .offer
      .row
        .col-md-4
          .thumbnail
            .fake-picture
        .col-md-8
          ul
            li
              a([linkTo]='"/offers/" + offer._id')
                h2 {{ offer.city }}, {{ offer.street }}
            li liczba pokoi: {{ offer.rooms }}
            li powierzchnia: {{ offer.area }}m2
            li kondygnacja: {{ offer.floor }} piętro
            li balkon: {{ offer.balcony }}
